<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style-cadastro.css">
</head>

<body>


    <div class="container">
        <form action="<%=action%>" method="<%=method%>" role="form">
            <div class="row">
                <div class="form col-md-7">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="nome" class="form-control" name="nome" id="nome" placeholder="Nome" value = '<% if(locals.nome) { %><%=nome%><% }else{ %><% } %>'>
                    </div>
                    <div class="form-group">
                        <label for="sobrenome">Sobrenome</label>
                        <input type="sobrenome" class="form-control" name="sobrenome" id="sobrenome" placeholder="Sobrenome" value= '<% if(locals.sobrenome) { %><%=sobrenome%><% }else{ %><% } %>'>
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Favor digite o seu e-mail" value='<% if(locals.email) { %><%=email%><% }else{ %><% } %>'>
                        <small id="emailMsg" class="form-text text-muted">Não compartilharemos seu e-mail com
                            ninguém.</small>
                    </div>
                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input type="password" class="form-control" name="senha" id="senha" placeholder="Senha" value='<% if(locals.senha) { %><%=senha%><% }else{ %><% } %>'>
                    </div>
                    <button type="submit" style="margin-top:10px;" class="btn btn-primary">Enviar</button>
                </div>

                <div class="poesia col-md-5">
                    <img src="../../css/leminski.jpg" alt="Paulo Leminski" width="220">
                    <p>"&nbspRio do mistério<br>o que seria de mim<br>se me levassem a sério?&nbsp"<br><br>Paulo
                        Leminski</p>
                </div>
                
        </form>

    </div>

    </div>

</body>

</html>